<form class="news-form" [formGroup]="newsForm" (ngSubmit)="onSubmit()">
    <label class="news-form__label" for="title">Title:</label>
    <input class="news-form__input" id="title" formControlName="title"/>

    <label class="news-form__label" for="content">Content:</label>
    <textarea class="news-form__textarea" id="content" formControlName="content"></textarea>

    <button class="news-form__button news-form__button--submit" type="submit">
        {{ isEditMode ? 'Update' : 'Create' }} News
    </button>
</form>

